<div class="scroll-progress bg-grey-900"></div>
    <!-- Start Preloader -->
    <div class="preloader text-center">
        <div class="loader"></div>
    </div>
    <!-- Start Header -->
    <header class="main-header header-sticky bg-brand-4">
        <div class="position-relative">
            <div class="container align-self-center">
                <div class="header-style-1">
                    <div class="logo">
                        <a href="/"><img src="imgs/theme/logo.svg" alt=""></a>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav>
                            <!--Desktop menu-->
                            <ul class="main-menu d-none d-lg-inline">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li> <a href="/about">About</a> </li>
                                <li> <a href="/contact">Contact</a> </li>
                            </ul>
                            <!--Mobile menu-->
                            <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                                <li class="menu-item-has-children">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-item-has-children"><a href="/about">About</a>
                                </li>
                                <li class="menu-item-has-children"><a href="/contact">Contact</a>
                                </li>
                                <li class="menu-item-has-children"><a href="/login">Login</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--end: main-nav-->
                    <div class="header-right">
                        <a href="/login">
                            <button class="btn btn-md bg-dark text-white ml-15 box-shadow d-none d-lg-inline">Sign In</button>
                        </a>
                    </div>
                </div>
                <div class="mobile_menu d-lg-none d-block"></div>
            </div>
        </div>
    </header>
