<!DOCTYPE html>
<html>
<head>
   <%- include ('../partials/admin-head') %>
</head>
<body class="hold-transition sidebar-mini">

<!-- Site wrapper -->
    <div class="wrapper" style="position: inherit;">
      <!-- Navbar -->

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin-news" class="brand-link">
          <img
            src="/imgs/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8;"
          />
          <span class="brand-text font-weight-light">Аdmin Panel</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a href="/admin-news" class="nav-link active">
                  <i class="nav-icon far fa-newspaper"></i>
                  <p>
                    News
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin-users" class="nav-link">
                  <i class="nav-icon fas fa-user"></i>
                  <p>
                    Users
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin-comments" class="nav-link">
                  <i class="nav-icon fas fa-comment"></i>
                  <p>
                    Comments
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">
                  <i class="nav-icon fas fa-sign-out-alt"></i>
                  <p>
                    Logout
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>


      <div class="" id="modal-default">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit News</h4>
                </div>
                <div class="modal-body">
                    <form action="/edit-post/<%= posts.id %>" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                        <label>Title</label>
                        <input
                            type="text"
                            class="form-control"
                            name="title"
                            value="<%= posts.post_title %>"
                        />
                        </div>
                        <div class="form-group">
                        <label>Body</label>
                        <textarea class="form-control" name="body" rows="5" cols="100"><%= posts.post_body %></textarea>
                        </div>
                        <div class="form-group">
                        <label>Change Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                            <input
                                type="file"
                                class="custom-file-input"
                                id="exampleInputFile"
                                name="image"
                                accept="image/*"
                            />
                            <label
                                class="custom-file-label"               
                                >Choose file</label
                            >
                            </div>
                        </div>
                        </div>
                    </div>
                                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                    </form>
                </div>
                </div>
                                <!-- /.modal-content -->
            </div>
                            <!-- /.modal-dialog -->
            </div>
        


      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

<!-- jQuery -->
    <script src="../jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../js/demo.js"></script>
    <script src="../all.min.js"></script>

    <script type="text/javascript">
      $(function () {
        const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
        });

        $(".swalDefaultSuccess").click(function () {
          Toast.fire({
            icon: "success",
            title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".swalDefaultInfo").click(function () {
          Toast.fire({
            icon: "info",
            title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".swalDefaultError").click(function () {
          Toast.fire({
            icon: "error",
            title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".swalDefaultWarning").click(function () {
          Toast.fire({
            icon: "warning",
            title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".swalDefaultQuestion").click(function () {
          Toast.fire({
            icon: "question",
            title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });

        $(".toastrDefaultSuccess").click(function () {
          toastr.success(
            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr."
          );
        });
        $(".toastrDefaultInfo").click(function () {
          toastr.info(
            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr."
          );
        });
        $(".toastrDefaultError").click(function () {
          toastr.error(
            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr."
          );
        });
        $(".toastrDefaultWarning").click(function () {
          toastr.warning(
            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr."
          );
        });

        $(".toastsDefaultDefault").click(function () {
          $(document).Toasts("create", {
            title: "Toast Title",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultTopLeft").click(function () {
          $(document).Toasts("create", {
            title: "Toast Title",
            position: "topLeft",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultBottomRight").click(function () {
          $(document).Toasts("create", {
            title: "Toast Title",
            position: "bottomRight",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultBottomLeft").click(function () {
          $(document).Toasts("create", {
            title: "Toast Title",
            position: "bottomLeft",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultAutohide").click(function () {
          $(document).Toasts("create", {
            title: "Toast Title",
            autohide: true,
            delay: 750,
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultNotFixed").click(function () {
          $(document).Toasts("create", {
            title: "Toast Title",
            fixed: false,
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultFull").click(function () {
          $(document).Toasts("create", {
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
            title: "Toast Title",
            subtitle: "Subtitle",
            icon: "fas fa-envelope fa-lg",
          });
        });
        $(".toastsDefaultFullImage").click(function () {
          $(document).Toasts("create", {
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
            title: "Toast Title",
            subtitle: "Subtitle",
            image: "../../dist/img/user3-128x128.jpg",
            imageAlt: "User Picture",
          });
        });
        $(".toastsDefaultSuccess").click(function () {
          $(document).Toasts("create", {
            class: "bg-success",
            title: "Toast Title",
            subtitle: "Subtitle",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultInfo").click(function () {
          $(document).Toasts("create", {
            class: "bg-info",
            title: "Toast Title",
            subtitle: "Subtitle",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultWarning").click(function () {
          $(document).Toasts("create", {
            class: "bg-warning",
            title: "Toast Title",
            subtitle: "Subtitle",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultDanger").click(function () {
          $(document).Toasts("create", {
            class: "bg-danger",
            title: "Toast Title",
            subtitle: "Subtitle",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
        $(".toastsDefaultMaroon").click(function () {
          $(document).Toasts("create", {
            class: "bg-maroon",
            title: "Toast Title",
            subtitle: "Subtitle",
            body: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr.",
          });
        });
      });
    </script>

</body>
</html>
